/* Speech class */
.Speech {
    font-family: Arial, sans-serif; /* Choose an appropriate font */
    font-size: 16px; /* Choose an appropriate font size */
    color: black;
}

/* Direction class */
.Direction {
    font-family: 'Times New Roman', serif; /* Choose a different font */
    font-size: 14px; /* Choose a different font size */
    color: black;
    background-color: lightgray; /* Set a light background color */
    transition: background-color 0.3s, color 0.3s; /* Smooth hover transition */
}

/* Hover effect for Direction class */
.Direction:hover {
    background-color: lightblue; /* Change background-color on hover */
    color: white; /* Change text color on hover */
}

/* Character-specific styles */
.Citizen1st{
    color: burlywood; /* Choose a color for  1st Citizen lines */
}

.Citizen2nd{
    color: green; /* Choose a color for 2nd Citizen lines */
}

.Citizen3rd{
    color: plum /* Choose a color for 3rd Citizen lines */
}
.Citizen4th{
    color: purple; /* Choose a color for 4th Citizen lines */
}
/* Style for the table */
/* ibsen.css */
.styled-table {
    border-collapse: collapse;
    width: 100%;
    margin: 20px;
}

.styled-table th, .styled-table td {
    border: 1px solid #873939;
    padding: 8px;
    text-align: left;
}

.styled-table th {
    background-color: yellowgreen;
}

.styled-table tr:nth-child(even) {
    background-color: wheat;  
}
.styled-table tr:nth-child(odd) {
    background-color: lightskyblue;  
}

.styled-table tr:hover {
    background-color: lightcoral;
}


  /* ibsen.css */

/* Style for name when hovering */
.Citizen3rd:hover {
    
    text-shadow: 2px 2px 4px rgba(159, 40, 40, 0.5); /* Add a text shadow with color and blur */
  }
.Citizen2nd:hover {
    
    text-shadow: 2px 2px 4px rgba(159, 40, 40, 0.5); /* Add a text shadow with color and blur */
}
.Citizen1st:hover {
    
    text-shadow: 2px 2px 4px rgba(159, 40, 40, 0.5); /* Add a text shadow with color and blur */
}
  
.navbar {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
  }
  
  .navbar a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
  }
  
  .navbar a:hover {
    text-decoration: underline;
  }
  
  
  
  
  